<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width, initial-scale=1.0">
		<title>{{user.name}}'s flask</title>
		<link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" type="text/css">
		{% endblock %}
	</head>
	<body>
		<h>
			<br />
			<img alt="sunergao-mini" class="sunergao-mini" src="{{ url_for('static',filename='images/sunergao-mini.png') }}">
			{{user.name}}'s flask
		</h>
		<nav>
			<ul>
				<li><a href="{{ url_for('index') }}">Home</a></li>
			</ul>
		</nav>
		{% block content %}{% endblock %}
		<footer>
			<small>&copy; 2021 <a href="http://localhost:5000">flask</a></small>
		</footer>
	</body>
</html>
